@font-face {
    font-family: "Varianz Sans";
    src: url("./VZWOVARIANZ-LowSansRegular.otf") format("opentype");
}

@font-face {
    font-family: "Varianz Mix";
    src: url("./VZWOVARIANZ-MidMixRegular.otf") format("opentype");
}

html {
    font-size: 24px;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    min-width: 100%;
    min-height: 100%;
}

hr {
    border-color: rgb(36, 54, 255);
}

body {
    font-family: "Varianz Sans", Arial, sans-serif;
    font-size: 2.5rem;
    line-height: 1.25;
    counter-reset: footnote-counter;
    margin: auto;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right:1rem;
    height: auto;
}


.bold {
    font-family: "Varianz Mix", sans-serif;
    color: rgb(36, 54, 255);
}

.gap {
    height: auto;
    margin-bottom: 100px;
}

section, #credits {
    mix-blend-mode: color-dodge;
    color: #745d25;
}

.indented-text {
    padding-left: 50px;
}

.quote {
    color: rgb(36, 54, 255);
    font-family: "Varianz Mix", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    width: 85%;
    margin: auto;
    position: relative;
}

.heading {
    font-family: "Varianz Mix", sans-serif;
    font-size: 65px;
    line-height: 1;
}

#bib {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(36, 54, 255);
    mix-blend-mode: color-dodge;
}

#credits {
    font-size: 30px;
    margin-top: 200px;
    margin-bottom: 50px;
    padding-top: 10px;
}

#index {
    position: sticky;
    top: 50vh;
    transform: translate(0, -50%);
}

#current {
    color: #745d25;
}

a {
    color: rgb(36, 54, 255);
    text-decoration: none;
    transition: .25s ease;
}

a:hover {
    color: #f04923;
}

img {
    object-fit: contain;
    position: relative;
    width: 100%;
    height: auto;
}

.caption {
    font-size: 15px;
    font-family: "Varianz Sans", sans-serif;
    color: #745d25;
    margin: auto;
    text-align: center;
    padding-top: 2rem;
}

ul {
    list-style: none;
}

/* superscript */
.fn-ref {
  counter-increment: footnote-counter;
  text-decoration: none;
  font-size: 0.75em;
  vertical-align: super;
  line-height: 0;
  margin-left: 0.15em;
    color: rgb(36, 54, 255);
}

.fn-ref:hover {
    color: #f04923;
}

/* counter */
.fn-ref::after {
  content: "[" counter(footnote-counter) "]";
}

/* back */
.fn-back {
  text-decoration: none;
  margin-left: 0.5rem;
    color: rgb(36, 54, 255);
}

.fn-back:hover {
    color: #f04923;
}

.footnotes-list {
    margin-bottom: 0px;
    font-size: 30px;
    padding-left: 0;
}

li {
    color: rgb(36, 54, 255);
    padding-top: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 1000px) {
    body {
        width: 90%;
        font-size: 30px;
    }

    .quote {
        font-size: 20px;
    }

    .heading {
        font-size: 37px;
        line-height: 1.2;
        font-family: "Varianz Mix", sans-serif;
    }

    .footnotes-list, #credits, #bib {
        font-size: 20px;
    }

    #background-video {
    top: 0;
    left: -300px;
}
}